@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: red;
    font-family: 'IBM Plex Sans', sans-serif;
}